@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

html, body {
    background-color: rgb(55, 55, 55);

    scrollbar-color: transparent transparent;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    scrollbar-color: transparent transparent;
    scrollbar-width: none;

    width: none;
    height: none;

    display: none;
}

/* Navigation Started =========================================== */
nav {
    background-color: rgb(44, 44, 44);
    color: white;

    width: 100%;
    height: 60px;

    list-style: none;
    text-decoration: none;

    position: fixed;
}

nav label.logo {
    margin-left: 25px;

    line-height: 60px;
    font-size: 36px;
    color: white;

    animation: rainbow-text 2s infinite;
}

ul {
    margin: 0 20px;
    float: right;
}

nav ul li {
    display: inline-block;

    text-indent: 10px;
    line-height: 60px;
    font-size: 24px;
}

nav ul li a {
    padding: 8px;
    margin: 0;

    text-decoration: none;
    color: white;

    background-color: rgb(36, 36, 36);
    border-radius: 5px;
}

#checkbox {
    display: none;
}

#checkbutton {
    float: right;

    margin-right: 25px;
    margin-top: 5px;

    line-height: 60px;
    font-size: 24px;
    color: white;

    display: none;
}

.body-section-0 {
    width: 100vw;
    height: 100vh;

    text-align: center;
    font-size: 36px;
    color: white;

    justify-content: center;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}

.body-section-1 {
    width: 100vw;
    height: 100vh;

    text-align: center;
    font-size: 36px;
    color: white;

    justify-content: center;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;
    display: flex;

    background-color: rgb(36, 36, 36);
}

@media (max-width: 650px) {
    #checkbutton {
        display: block;
    }

    #checkbox:checked ~ ul {
        left: 0;
    }

    ul {
        margin: 0 0;

        position: fixed;
        float: none;

        width: 250px;
        height: 100%;

        left: -250px;
        top: 0px;

        transition: all 1s;

        background-color: rgb(44, 44, 44);

        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }

    nav ul li a {
        padding: 0;
        margin: 0;

        font-size: 16px;

        background-color: transparent;
        border-radius: 0;
    }
}

/* Navigation Stopped =========================================== */

/* Bottom Navigation Started ==================================== */

.information {
    width: 100%;
    height: 40px;

    top: calc(100% - 40px);

    position: fixed;

    background-color: rgb(36, 36, 36);
    color: white;

    text-align: center;
    line-height: 40px;

    font-size: 16px;
}

/* Bottom Navigation Stopped ==================================== */

@keyframes rainbow-text {
    0% {
      color: #e87d7d;
    }
    2% {
      color: #e88a7d;
    }
    4% {
      color: #e8977d;
    }
    6% {
      color: #e8a47d;
    }
    8% {
      color: #e8b07d;
    }
    10% {
      color: #e8bd7d;
    }
    12% {
      color: #e8ca7d;
    }
    14% {
      color: #e8d77d;
    }
    16% {
      color: #e8e47d;
    }
    18% {
      color: #dfe87d;
    }
    20% {
      color: #d3e87d;
    }
    22% {
      color: #c6e87d;
    }
    24% {
      color: #b9e87d;
    }
    26% {
      color: #ace87d;
    }
    28% {
      color: #9fe87d;
    }
    30% {
      color: #92e87d;
    }
    32% {
      color: #86e87d;
    }
    34% {
      color: #7de881;
    }
    36% {
      color: #7de88e;
    }
    38% {
      color: #7de89b;
    }
    40% {
      color: #7de8a8;
    }
    42% {
      color: #7de8b5;
    }
    44% {
      color: #7de8c1;
    }
    46% {
      color: #7de8ce;
    }
    48% {
      color: #7de8db;
    }
    50% {
      color: #7de8e8;
    }
    52% {
      color: #7ddbe8;
    }
    54% {
      color: #7dcee8;
    }
    56% {
      color: #7dc1e8;
    }
    58% {
      color: #7db5e8;
    }
    60% {
      color: #7da8e8;
    }
    62% {
      color: #7d9be8;
    }
    64% {
      color: #7d8ee8;
    }
    66% {
      color: #7d81e8;
    }
    68% {
      color: #867de8;
    }
    70% {
      color: #927de8;
    }
    72% {
      color: #9f7de8;
    }
    74% {
      color: #ac7de8;
    }
    76% {
      color: #b97de8;
    }
    78% {
      color: #c67de8;
    }
    80% {
      color: #d37de8;
    }
    82% {
      color: #df7de8;
    }
    84% {
      color: #e87de4;
    }
    86% {
      color: #e87dd7;
    }
    88% {
      color: #e87dca;
    }
    90% {
      color: #e87dbd;
    }
    92% {
      color: #e87db0;
    }
    94% {
      color: #e87da4;
    }
    96% {
      color: #e87d97;
    }
    98% {
      color: #e87d8a;
    }
    100% {
      color: #e87d7d;
    }
}

.rainbow-text {
    animation: rainbow-text 5s infinite;
}